<h1>Ready to Publish?</h1>
<ul>
  {{#each files}}
  <li>{{this}}</li>
  {{else}}
  <p>No Items to Publish</p>
  {{/each}}
<ul>
{{#if canPublish}}
  <br>
  <br>
  <br>

<form method='POST' >
  <textarea name='info' required rows='10' cols='80'>
  This message will help keep track of what you did and will let your teammates know too.</textarea>
  <br>
  <input class='btn btn-lg btn-success' type='submit' value='Publish'/>
</form>
{{else}}
<p>Please go back and ensure that you made changes</p>
{{/if}}