<h1>Ready to Publish?</h1>
<ul>
  {{#each files}}
  <li>{{this}}</li>
  {{else}}
  <p>No Items to Publish</p>
  {{/each}}
<ul>
{{#if canPublish}}
<form method='POST'>
  <textarea name='info' required></textarea>
  <input type='submit' value='publish'/>
</form>
{{else}}
<p>Please go back and ensure that you made changes</p>
{{/if}}